<div  style="margin-left: 10px;">

    <!--accretio-->
    <div style=" margin-left: 400px"class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500" data-aos="fade-left"  style="margin-top: -400px;">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img  class="img-fluid" src="../../assets/image/companiestrans/acc.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Accretio</h3>
            <p class="text-muted">Accretio develops solutions to support companies' digital HR transformation process. The ultimate objective is to unite and unleash the energies of talents to put them at the service of the overall performance of organizations.
              Accretio is a HR Digital Workplace to meet the challenges of performance and growth. Manage and re-engage the human capital of your organization in a fluid and efficient manner. Foster collective work and collective intelligence thanks to a solution that favors the sharing of knowledge and the accessibility of information.</p>
            <a target="_blank" href="https://www.linkedin.com/company/accretio-digital-workplace/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="https://www.accretio.io/" style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--accretio-->
    <!--talan-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500" data-aos="fade-left"class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img id="talan" class="img-fluid" src="../../assets/image/companiestrans/talan.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div  style="margin-left: -500px;"id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Talan</h3>
            <p class="text-muted">Talan advises companies and administrations, supports them and implements their transformation projects in France and abroad.The group places innovation at the heart of its development and intervenes in areas related to the technological changes of large groups, such as Big Data, IoT, Blockchain and Artificial Intelligence.</p>
            <a target="_blank"href="https://www.linkedin.com/company/talan/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank"href="https://talan.com/en/?utm_source=linkedin&utm_medium=post&utm_campaign=homepage_linkedin&utm_content=bouton_HP" style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>

    <!--talan-->

    <!--bfi-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500"data-aos="fade-right"   class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img  id="bfi"class="img-fluid" src="../../assets/image/companiestrans/bfi.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div  id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Bfi</h3>
            <p class="text-muted">Editor and integrator of financial solutions since 1994, BFI is a strategic partner to support you in the modernization of your information system.

            </p>
            <a target="_blank"href="http://www.bfigroupe.com/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="http://www.bfigroupe.com/" style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--bfi-->
    <!--neoxam-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500"data-aos="fade-left" class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img  id="neo" idclass="img-fluid" src="../../assets/image/companiestrans/neoxam.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div style="margin-left:-500px"id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Neoxam</h3>
            <p class="text-muted">NeoXam provides a full suite of solutions pertaining to the asset management industry, from local or ‘niche’ players to large global institutions and will ensure that your systems are always up-to-date with the latest features required by your internal and external clients.</p>
            <a target="_blank"  href="https://www.linkedin.com/company/neoxam/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="https://www.neoxam.com/" style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--neoxam-->

    <!--telnet-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500" data-aos="fade-right"  class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img  id="line"class="img-fluid" src="../../assets/image/companiestrans/telnet.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Telnet</h3>
            <p class="text-muted">TELNET is a group specialized in:

              Software and hardware engineering
              Network and telecom integration
              Mechanical studies

              TELNET has built up expertise in product engineering in several sectors of activity:
              Telecom & Multimedia
              Industry and Energy
              Automobile
              Avionics
              Security and System
              Electronic payment.</p>
            <a  target="_blank"href="https://www.linkedin.com/company/telnet_2/about" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank"  href="https://www.groupe-telnet.com/" style="background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--telnet-->

    <!--focus-->
    <div class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500"data-aos="fade-left" class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img  id="focus"class="img-fluid" src="../../assets/image/companiestrans/focuss.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div style="margin-left:-500px" id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Focus</h3>
            <p class="text-muted">They are a Tunisia based Software Development & IT Services company founded in 2003. They deliver cost effective outsourcing software and IT solutions based on advanced technical skills, IT expertise, and strong commitment to quality assurance.

              Working with customers around the world, they offer significant experience and expertise in a broad range of technologies, with a portfolio of value-added IT services that includes:

                  Application services
                  Embedded systems
                  IT Infrastructure
              </p>
            <a  target="_blank"href="https://www.linkedin.com/company/focus-&-focus-international/"style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="http://www.focus-corporation.com/" style="background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--focus-->
    <!--sofrecome-->

    <div class="container mt-5">

      <!--Section: Content-->
      <section data-aos-duration="1500"data-aos="fade-right"  class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img id="sof" class="img-fluid" src="../../assets/image/companiestrans/sof.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Sofrecom</h3>
            <p class="text-muted">Sofrecom est une entreprise de conseil et d'ingénierie, appartenant au groupe Orange, spécialisée dans les télécoms et couvrant tous les métiers de l'opérateur grâce à son large spectre d'expertises pointues.
              Leader mondial dans la transformation des opérateurs télécoms, des activités marketing et commerciales jusqu'aux domaines techniques et IT.</p>
            <a target="_blank"href="https://www.linkedin.com/company/sofrecom-tunisie/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank"href="https://www.sofrecom.com/"  style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--sofrecome-->

    <!--vermeg-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section data-aos-duration="1500" data-aos="fade-left"  class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img id="ver"  class="img-fluid" src="../../assets/image/companiestrans/ver.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div style="margin-left:-500px"id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Vermeg</h3>
            <p class="text-muted">Vermeg is an independent technology provider for the banking and insurance markets.Securities Processing Software and Fund Administration Systems are the core business of Vermeg. </p>
            <a target="_blank"href="https://www.linkedin.com/company/vermeg/"  style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank"href="https://www.vermeg.com/" style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--vermeg-->
    <!--pixel-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section  data-aos-duration="1500"data-aos="fade-right"class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img  class="img-fluid" src="../../assets/image/companiestrans/pixel.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Pixels Trade</h3>
            <p class="text-muted">Pixels Trade is a Swiss based recognized technology company developing innovative digital solutions for customers worldwide. Since 2010 we continuously invest in research and development to ensure to use the latest technologies and use the most adapted solutions for digital strategies, mobile applications, web solutions and always are perceived as a digital disruptor.</p>
            <a target="_blank"href="https://www.linkedin.com/company/pixels-trade/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank"href="https://www.pixelstrade.com/" style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--pixel-->

    <!--linedata-->

    <div class="container mt-5">


      <!--Section: Content-->
      <section  data-aos-duration="1500"data-aos="fade-left"  class="">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

            <!-- Featured image -->

              <img id="ver"  class="img-fluid" src="../../assets/image/companiestrans/line.png" alt="Sample image">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div style="margin-left:-500px"id="acc"class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

            <h3 class="font-weight-normal mb-4">Linedata</h3>
            <p class="text-muted">Help people comply with financial regulation, to operate data and manage strategic plan developments, to support companies'
              efficiency and profitability so that they fully dedicate themselves to their core business, to empower growth, wealth and leadership,
              to anticipate and master transformation in an ever changing world.Linedata makes the heart of financial creativity beat to help humanity prosper.</p>
            <a target="_blank" href="https://www.linkedin.com/company/linedata/jobs/" style=" background-color: royalblue;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="https://www.linedata.com/"   style=" background-color:#f44336;margin-left:10px;color: white;border-radius: 100%;"class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fas fa-angle-double-right"></i></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Content-->


    </div>
    <!--linedata-->
</div>
