<img class="wave" src="../../assets/image/contact/wave1.png">
<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h3 style="color:#f44336" class="font-weight-bold">Contact Us</h3>

        <p class="text-center w-responsive mx-auto pb-5">We are always here for you. So don't hesitate to contact us .<br>We are 24/24h available just for you </p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

       <!--Google map-->
       <div class="img">
        <img src="../../assets/image/contact/avatar-01.png">
      </div>
    <!--Google Maps-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-md-12 mb-4 mb-md-0">

        <!-- Material outline input -->
        <div class="md-form md-outline mt-3">
          <input type="email" id="form-email" class="form-control">
          <label for="form-email">E-mail</label>
        </div>

        <!-- Material outline input -->
        <div class="md-form md-outline">
          <input type="text" id="form-subject" class="form-control">
          <label for="form-subject">Subject</label>
        </div>

        <!--Material textarea-->
        <div class="md-form md-outline mb-3">
          <textarea id="form-message" class="md-textarea form-control" rows="3"></textarea>
          <label for="form-message">How we can help?</label>
        </div>
        <button style="margin-left: 200px;"type="submit" class="btn peach-gradient ">Submit<i class="fas fa-paper-plane"></i></button>
        <!--Google map-->
        <div class="mapouter">
          <div style="margin-left: -450px" class="gmap_canvas">
            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=bardo%2C%20rue%20de%20palmier&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
            <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a>
          </div>
        </div>
      <!--Google Maps-->



      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>
