#all
{
  width: 200px;
}
#dev
{
  width: 150px;
}
#network
{
  width: 150px;
}

#se
{
  width: 150px;
}
.sb
{

  width: 300px;
  height: 400px;
margin-top: 60px;
background-color: #bdbdbd;
margin-left: -100px;



}
.tit
{
  position: relative;
  margin-left: 10px;
  color:#f5f5f5;

}

