#all
{
  width: 200px;
}
#genie
{
  width: 150px;
}
#artic
{
  width: 150px;
}
#twin
{
  width: 150px;
}
#infin
{
  width: 150px;
}
#sleam
{
  width: 150px;
}
#nids
{
  width: 150px;
}
#sim
{ width: 150px;

}
