<!--specialté-->
<h1 style="margin-top:60px"class="text-center text-muted ont-weight-bold mb-4 pb-5">Companies</h1>

<!--Search Bare-->

<div style="margin-left: 100px;" class="sb">
  <br>
    <div class="tit">
      <h2 style="color:#ff5722 "><strong>Search for intership</strong> </h2>
    </div>
    <div class="col-md-6 col-xl-4">


        <!--List of companies-->
        <form  class="form-inline d-flex justify-content-center md-form form-md">
          <input style="color:#e65100;font-size: 20px;" style="margin-left: 140px;"class="form-control form-control- mr-2 w-20" type="text" placeholder="Search"
            aria-label="Comapanies">
          <i style="margin-top:-50px;margin-left: 250px;color:white" class="fas fa-search" aria-hidden="true"></i>
        </form>

      <!--List of Technologies-->
        <mat-form-field>
          <mat-label style="color:#ff5722 ;font-size: 20px;">Technologies</mat-label>
          <mat-select color="accent" [formControl]="techs" multiple>
            <mat-option *ngFor="let tech of techList" [value]="tech">{{tech}}</mat-option>
          </mat-select>
        </mat-form-field>


    </div>

  </div>






<router-outlet></router-outlet>
