#all
{
  width: 200px;
}
#dev
{
  width: 150px;
}
#network
{
  width: 150px;
}

#se
{
  width: 150px;
}
.sb
{

  width: 300px;
  height: 400px;
margin-top: 60px;
background-color: #929fba;



}
.tit
{
  position: relative;
}

