<!--specialté-->
<h1 style="margin-top:40px"class="text-center text-muted ont-weight-bold mb-4 pb-5">Specialities</h1>


<div style=" margin-left:450px;">
    <div   data-aos-duration="500"style="margin-left:-380px;" data-aos="zoom-in" >

      <a  routerLink="all" routerLinkActive="active">
        <img title="" id="all"  src="../../assets/image/specialité/all.png" alt="picture not found"/>
      </a>

    </div>
    <div  data-aos-duration="500"style="margin-left:-50px;margin-top:-165px;" data-aos="flip-right" >

          <a routerLink="dev" routerLinkActive="active">
            <img title="Developpment" id="dev"  src="../../assets/image/specialité/dev_Plan de travail 1.png" alt="picture not found"/>
          </a>

    </div>
    <div   data-aos-duration="500"style=" margin-left:200px;margin-top:-145px;"data-aos="zoom-in">

          <a routerLink="network" routerLinkActive="active">
            <img title="Network Infrastructure and Data Security "id="network" src="../../assets/image/specialité/network_Plan de travail 1.png" alt="picture not found"/>
          </a>

    </div>
    <div data-aos-duration="500" style=" margin-left:450px;margin-top:-150px;" data-aos="flip-left" >

          <a routerLink="se" routerLinkActive="active">
            <img title="Embedded System " id="se"  src="../../assets/image/specialité/se_Plan de travail 1.png" alt="picture not found"/>
          </a>

    </div>

</div>

<div class="sb">
  <div class="tit">
    <h2> Search for intership</h2>
  </div>
  <div class="col-md-6 col-xl-4">
    <form >

      <!--List of companies-->
      <fieldset>
        <label>Companies</label>
        <input style="width: 280px;" class="form-control " type="text" placeholder="Name of the companies">
      </fieldset>

      <fieldset>

          <label for="inputState">Technologies</label>
          <select style="width: 280px;height: 30px;" class="form-control"  multiple>
            <option selected>All Technologies</option>

                <option value="1">JavaScript</option>

                <option value="2">Html</option>

                <option value="3">Bootstrap</option>

                <option value="4">Angular</option>

                <option value="5">Spring</option>

                <option value="6" >React</option>

                <option value="8">JEE</option>

                <option value="9">C#</option>
                <option value="10">Python</option>

                <option value="11">Node.Js</option>

                <option value="12">Senphony</option>

                <option value="13">Php</option>



          </select>

      </fieldset>



    </form>
  </div>

</div>




<router-outlet></router-outlet>
