
  <div class="container mt-5">


    <!--Section: Content-->
    <section class="dark-grey-text mb-5">



      <!-- Section heading -->
      <h3 class="font-weight-bold text-center mb-4">Contact Us</h3>
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto pb-5">We are always here for you. So don't hesitate to contact us .We are 24/24h available just for you /p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">

          <!-- Form with header -->
          <div class="card">
            <div class="card-body">
              <!-- Header -->
              <div style="width:250px;height:40px;margin-left: 70px;margin-bottom: 40px; " class="form-header heavy-rain-gradient">
                <h3 style="text-align:center;color:rgb(79, 79, 79)"class="mt-2 "><i class="far fa-envelope" ></i> Write to us:</h3>
              </div>
              <p class="dark-grey-text" style="text-align: center;">We'll write rarely, but only the best content.</p>
              <!-- Body -->
              <div class="md-form">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form-name" class="form-control">
                <label for="form-name">Your name</label>
              </div>
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form-email" class="form-control">
                <label for="form-email">Your email</label>
              </div>
              <div class="md-form">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form-Subject" class="form-control">
                <label for="form-Subject">Subject</label>
              </div>
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
                <label for="form-text">Send message</label>
              </div>
              <div class="text-center">
                <button class="btn heavy-rain-gradient ">Submit</button>
              </div>
            </div>
          </div>
          <!-- Form with header -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

         <!--Google map-->
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=bardo%2C%20rue%20de%20palmier&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
            <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a>
          </div>
        </div>
      <!--Google Maps-->

          <!-- Buttons-->
          <div class="row text-center">
            <div class="col-md-4">
              <a  style="margin-top:30px;"class="btn-floating btn-sm heavy-rain-gradient ">
                <i  style="color: rgb(79, 79, 79)"class="fas fa-map-pin"></i>
              </a>
              <p>Bardo,2000</p>
              <p class="mb-md-0">Tunisia</p>
            </div>
            <div class="col-md-4">
              <a  style="margin-top:30px;"class="btn-floating btn-sm heavy-rain-gradient">
                <i  style="color:rgb(79, 79, 79)"class="fas fa-phone"></i>
              </a>
              <p>+260 54559866</p>
              <p class="mb-md-0">Mon - Fri, 8:00-00:00</p>
            </div>
            <div class="col-md-4">
              <a  style="margin-top:30px;"class=" btn-floating btn-sm  heavy-rain-gradient ">
                <i  style="color: rgb(79, 79, 79)"class="fas fa-envelope"></i>
              </a>
              <p>EasyUs@gmail.com</p>

            </div>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->


  </div>
