<app-header></app-header>

<header>
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
          <div class="view"  style="background-image: url('/assets/image/pic2.webp');background-repeat: no-repeat; background-size: cover;"alt="First slide">
            <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div  data-aos="fade-down" data-aos-duration="1000"  class="text-center white-text mx-5 ">
                  <h1 class="display-3 mb-5 " >
                    <a class="white-text font-weight-bold">Welcome <br> to EasyUs</a>
                  </h1>
                  <p>
                    <strong></strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong></strong>
                  </p>

                </div>
                <!-- Content -->

              </div>
            <!-- Mask -->
          </div>

        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">
          <div class="view" style="background-image: url('/assets/image/pic3.jpg'); background-repeat: no-repeat; background-size: cover;" alt="Second slide">
            <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
              <!-- Content -->
              <div class="text-center white-text mx-5">
                <h1  data-aos="fade-down" data-aos-duration="1000" class="display-3 mb-5 " >
                  <a class="white-text font-weight-bold">You don’t always get what you wish for <br>you get what you work for.</a>
                </h1>
                <p>
                  <strong></strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>

              </div>
              <!-- Content -->

            </div>
            <!-- Mask -->
          </div>
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
          <div class="view"  style="background-image: url('/assets/image/pic4.jpg'); background-repeat: no-repeat; background-size: cover;" alt="Third slide">
                <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
              <!-- Content -->
              <div class="text-center white-text mx-5 ">
                <h1  data-aos="fade-down" data-aos-duration="1000" class="display-3 mb-5 " >
                  <a class="white-text font-weight-bold">Believe you can <br> and you’re halfway there</a>
                </h1>
                <p>
                  <strong></strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>

              </div>
              <!-- Content -->

            </div>
            <!-- Mask -->

          </div>
        </div>
        <!--/Third slide-->
        <!--Four slide-->
        <div class="carousel-item">
          <div class="view"  style="background-image: url(/assets/image/pic1.jpg);background-repeat: no-repeat; background-size: cover;"alt="Four slide">
            <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="text-center white-text mx-5">
                  <h1  data-aos="fade-down" data-aos-duration="1000" class="display-3 mb-5 " >
                    <a class="white-text font-weight-bold">Don’t wish it were easier<br>wish you were better</a>
                  </h1>
                  <p>
                    <strong></strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong></strong>
                  </p>

                </div>
                <!-- Content -->

              </div>
            <!-- Mask -->
          </div>

        </div>
        <!--/four slide-->
      </div>
      <!--/.Slides-->

      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</header>


<!-- Main navigation -->

  <router-outlet></router-outlet>

<!-- Main navigation -->
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a>
<!--Footer-->
<app-footer></app-footer>
<!--Footer-->


