<section>
  <div class="container wow jackInTheBox" data-wow-delay="0.3s">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="/assets/images/books.png" alt="">
          <h3>Don des livres</h3>
        </div>
      </div>
      <div class="face face2">
          <div class="content">
            <p>N'hésitez pas d'aider les gens qui n'ont pas le budget nécessaire pour fournir des livres à leurs enfants</p>
            <a  type="button" routerLink="/Donner">Donner maintenant</a>
          </div>
      </div>
    </div>
  </div>

  <div class="container wow jackInTheBox" data-wow-delay="0.3s">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="/assets/images/bed.png" alt="">
            <h3>Don des meubles</h3>
          </div>
        </div>
        <div class="face face2">
            <div class="content">
              <p>
                De nombreuses raisons peuvent vous pousser à vous séparer de certains de vos meubles le cas d’un lit de bébé,
                il y a d'autres qui en besoin n'hésitez pas de les aider!
              </p>
              <a  type="button" routerLink="/Donner">Donner maintenant</a>
            </div>
        </div>
      </div>
    </div>

    <div class="container wow jackInTheBox" data-wow-delay="0.3s">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/assets/images/clothes.png" alt="">
              <h3>Don des vêtements</h3>
            </div>
          </div>
          <div class="face face2">
              <div class="content">
                <p>
                  Chaussures ou vêtements trop petits, démodés, assez vus ? Vous ne les portez plus ? Ne les laissez pas s’entasser dans vos armoires et surtout ne les jetez pas à la poubelle !
                  Ils peuvent être la joie des autres!
                </p>
                <a type="button" routerLink="/Donner">Donner maintenant</a>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container wow jackInTheBox" data-wow-delay="0.3s">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/assets/images/food.png" alt="">
              <h3>Don des produits alimentaires</h3>
            </div>
          </div>
          <div class="face face2">
              <div class="content">
                <p>Vous avez cultivé trop de légumes dans votre jardin ?
                   Vous partez en vacances et votre réfrigérateur est plein ?
                   N'hésitez plus et luttez contre le gaspillage alimentaire en donnant la nourriture que vous ne consommez pas.</p>
                <a type="button" routerLink="/Donner">Donner maintenant</a>
              </div>
          </div>
        </div>
      </div>

      <div class="container wow jackInTheBox" data-wow-delay="0.3s">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img src="/assets/images/wheelchair.png" alt="">
                <h3>Don des matériels</h3>
              </div>
            </div>
            <div class="face face2">
                <div class="content">
                  <p>Apportez vos dons matériels(médicale,informatique).Ce qui ne vous sert plus et qui est en bon état peut être indispensable à une personne en difficulté.</p>
                  <a type="button" routerLink="/Donner">donner maintenant</a>

                </div>
            </div>
          </div>
        </div>

        <div class="container wow jackInTheBox" data-wow-delay="0.3s">
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="/assets/images/charity.png" alt="">
                  <h3>D'autres dons</h3>
                </div>
              </div>
              <div class="face face2">
                  <div class="content">
                    <p>De nombreux vieux objets, cassés, usagés ou inutilisés finissent à la poubelle, malgré l'intérêt qu'ils pourraient représenter pour quelqu'un.Donnez et offrez-leur une seconde vie !</p>
                    <a type="button" routerLink="/Donner">Donner maintenant</a>
                  </div>
              </div>
            </div>
          </div>



        </section>
