<img class="wave" src="../../assets/image/contact/wave1.png">
<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h3 style="color:#f44336;margin-left: 200px;" class="font-weight-bold">Write your email</h3>



      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

          <div class="img">
            <img src="../../assets/image/reset-01.png">
          </div>
       </div>
       <!--Grid column-->
       <form action="/forget" method="POST">
      <!--Grid column-->
      <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
        <div class="md-form">
          <i class="fas fa-at prefix"></i>
          <input  name="email" type="email" id="email" class="form-control validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>

        <button style="margin-left: 200px;"type="submit" class="btn peach-gradient ">Submit</button>

      </div>
    </form>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>
