.card{
  box-shadow: 5px 8px 18px 10px #888888;

}

.sofrecome{
  border-radius: 50%;
  width: 140px;
  margin-left: 200px;
  box-shadow: 10px 10px 30px 10px grey;
}
.neoxam {
  border-radius: 50%;
  width: 80px;
  height: 90px;
  margin-left: 700px;
  box-shadow: 10px 10px 30px 10px grey;
  margin-top: -300px;
}
.telnet {
  border-radius: 50%;
  width: 70px;
  height: 60px;
  margin-left: 1060px;
  box-shadow: 10px 10px 30px 10px grey;
  margin-top: -500px;

}
.talan{
  border-radius: 50%;
  width: 140px;
  height:120px;
  margin-left: 500px;
  box-shadow: 10px 10px 30px 10px grey;
  margin-top: -100px;

}
.pixel {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 1000px;
  margin-top:-100px;
  box-shadow: 10px 10px 30px 10px grey;
}
.linedata {
  border-radius: 50%;
  width:140px;
  display: inline-block;
  margin-left: 100px;
  margin-top: -400px;
  box-shadow: 10px 10px 30px 10px grey;
}
.focus{
  border-radius: 50%;
  width: 180px;
  margin-left: 60px;
  box-shadow: 10px 10px 30px 10px grey;
}
.vermeg {
  border-radius: 50%;
  width: 80px;
  height: 90px;
  margin-top: -200;
  margin-left: 800px;
  margin-top:-200px;
  box-shadow: 10px 10px 30px 10px grey;
}
.bfi {
  border-radius: 50%;
  width: 80px;
  height: 90px;
  display: inline-block;
  margin-left: 950px;
  margin-top: -500px;
  box-shadow: 10px 10px 30px 10px grey;
}
.accratio {
  border-radius: 50%;
  width: 150px;
  display: block;
  margin-top: 50px;
  margin-left:200px;
  box-shadow: 10px 10px 30px 10px grey;
}

.card{
  width:500px;
  display: inline-block;
  margin-right:50px;
  margin-left:auto;
  margin-bottom: 50px;
}
