 <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    <!-- Card -->
    <div  style="width: 600px; display: inline-block;margin-left: 110px;" *ngFor="let stage of stages" class="card card-image">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-red-slight py-5 px-4">
          <div>
            <h5 class="red-text"><i  style="color:white;" class="fas fa-chart-pie"></i> {{stage.nomsociete}}  </h5>
            <h3 class="card-title pt-2"><strong>{{stage.nomsatge}}</strong></h3>
            <p >{{stage.description}}</p>
            <a class="btn btn-red"><i class="fas fa-info-circle"></i> More</a>
          </div>
        </div>
    </div>
    <!-- Card -->
 </div>
