
<!-- Card -->
<div  *ngFor="let stage of stages" class="card card-image">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> {{stage.nomsociete}}  </h5>
      <h3 class="card-title pt-2"><strong>{{stage.nomsatge}}</strong></h3>
      <p>{{stage.description}}</p>
      <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>

</div>
<!-- Card -->
